.Overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 5vw;
  
}

.Sensor_Div {
  display: flex;
  flex-direction: row;
  align-self: start;
  background-image: linear-gradient(to left, rgb(0, 191, 255), rgb(138, 43, 226));
  padding: 15px 10px;
  margin-top: 15px;
  border-radius: 9px;
  box-shadow: 1px 2px;
  color: #282e33;
}

.Sensor_Feed {
  height: 60%;
  width: 80%;
  margin: 20px 0px;
  padding: 125px 10px 0px 10px;
  background-color: #282e33;
  border-radius: 9px;
  color: #606468;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.Data_Reading {
  font-family: futura-pt-bold;
  font-size: 18px;
  text-align: justify;
}