.Nav_Div {
  margin-bottom: 40px;
  padding-top: 10px;
  font-family: futura-pt-bold;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #606468;
  border-radius: 5px;
}

.Nav_Logo {
  
}

.Nav_Item {
  display: flex;
  flex-direction: column;
}

.Nav_Image {
  height: 42px;
}