.Nav_Div {
  background: #282e33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  font-family: futura-pt-bold;
  font-weight: 700;
  width: 100%;
  border-radius: 5px;
}

.Nav_Link {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
}

.Nav_Items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  width: 100%;
}

.Nav_Image {
  height: 32px;
}

.Nav_Logo {
  height: 100%;
  margin: 10px 10px;
}

.Logo {
  display: flex;
  flex-direction: column;
  padding: 3px 3px;
}