.Data_Export {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 80%;
  border-radius: 9px;
  margin: 3px 3px;
}

.Export {
  display: flex;
  width: 100%;
}

.Export_Form {
  margin: auto;
  width: 100%;
  padding: 22px 22px 22px 22px;
  border-radius: 25px;
  background: #282e33;
}