body {
  font-family: futura-pt-bold;
  font-weight: 700;
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

p {
  line-height: 1.5em;
}

h2 {
  font-family: futura-pt-bold;
  font-weight: 700;
  font-size: 32px;
  color: #282828;
  display: list-item;                                        
  list-style-type: disc;      
  list-style-position: inside;
  margin-left: 20px;
  margin-top: 60px;
}

after { clear: both; }

button[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 93%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background: #16aa56;
}

button[type="submit"]:disabled {
  background: salmon;
  cursor: not-allowed;
}
