body {
  font-family: futura-pt-bold;
  font-weight: 700;
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

p {
  line-height: 1.5em;
}

h2 {
  font-family: futura-pt-bold;
  font-weight: 700;
  font-size: 32px;
  color: #282828;
  display: list-item;                                        
  list-style-type: disc;      
  list-style-position: inside;
  margin-left: 20px;
  margin-top: 30px;
}

h4 {
  font-family: futura-pt-bold;
  font-weight: 700;
  font-size: 32px;
  color: #282828;
  margin: 20px 5px;
}

after { clear: both; }

button[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 93%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background: #16aa56;
}

button[type="submit"]:disabled {
  background: salmon;
  cursor: not-allowed;
}

.range-slider {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 0;
  /* pointer-events: none;  */
  /* Prevent mouse interaction on the range slider. */
}

.range-slider::-webkit-slider-runnable-track {
  cursor: default;
  height: 1px; /* Required for Samsung internet based browsers */
  outline: 0;
  -webkit-appearance: none;
}

.range-slider::-moz-range-track {
  cursor: default;
  -moz-appearance: none;
  outline: 0;
  height: 1px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;  
  /* Reset appearance so we can apply backgrounds/borders etc. */
  pointer-events: auto; 
 /* Re-enable pointer events so the handles can be used. */
}

.range-slider:-moz-range-thumb {
 -moz-appearance: none;
 /* Reset appearance so we can apply backgrounds/borders etc. */
 pointer-events: auto;
 /* Re-enable pointer events so the handles can be used. */
}

/* absolutely positioned div */
.price-slider-progress { 
  height: 9px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  --track-background: linear-gradient(to right, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0) no-repeat 0 100% / 100% 100%;
  --range-color: #a8739d;
  background: var(--track-background);
}