.Main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Sensor_Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}