.Main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Sensor_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.Sensor {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to left, rgb(0, 191, 255), rgb(138, 43, 226));
  padding: 20px;
  margin: 10px 5px;
  border-radius: 9px;
  box-shadow: 1px 2px;
  color: #282e33;
}

.Data_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.Chart {
  background-image: linear-gradient(to bottom right, #ff0066, #FF4500);
  width: 30%;
  height: 60%;
  margin-left: 8px;
  margin-right: 20px;
  border-radius: 9px;
  box-shadow: 1px 2px;
  color: #282e33;
}

.Feed {
  width: 60%;
  height: 60%;
  border-radius: 9px;
  margin-left: 10px;
  box-shadow: 1px 2px;
  background-color: #282e33;
  color: #606468;
}

.Month {
  width: 200%;
  height: 60%;
  border-radius: 9px;
  margin-left: 10px;
  box-shadow: 1px 2px;
  background-color: #282e33;
  color: #606468;
}