.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 500;
  background-color: #434a52;
  height: 70%;
  width: 80%;
  /* border: 1px solid #282e33; */
  box-shadow: 1px 1px 1px #282e33;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 9px;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}