.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login {
  margin: 70px auto;
  width: 320px;
  position: relative;
  right: 24px;
}

.Logo_Div {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 22px 22px 22px;
  border-radius: 25px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

.Salty_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 87.5%/1.9em 'Open Sans', sans-serif;
}

.Salty_Label {
  font-family: futura-pt-bold;
  font-weight: 700;
  font-size: 50px;
  margin: 10px;
}

.Form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 25px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

.Submit {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.Submit :hover {
  background: #16aa56;
}

.Signup {
  text-decoration: none;
  color: #434a52;
  font-size: larger;
  font-weight: bold;
}
