.Alerts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: #282828;
}

.Lock_Button {
  width: 8%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}