.Alerts {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  color: #282828;
}

.Value_Div {
  display: flex;
  align-items: center;
  width: 50%;
}

.Lock_Button {
  width: 15%;
  height: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}