.Signup_Form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 90%;
}

.Form_Div {
  width: 90%;
}

.Redirect {
  text-decoration: none;
  font-family: futura-pt-bold;
  color: #606468;
  position: relative;
  top: 10px;
}