.DashBoard {
  display: grid;
  grid-template-areas:
    'menu main';
  grid-template-columns: 300px 75%;
}

.Menu_Div {
  background: #282e33;
  grid-area: menu;
}

.Main_Div {
  background-color: #606468;
  grid-area: main; 
  width: 80vw;
  height: auto;
  min-height: 1400px;
}
/* 
background-image: linear-gradient(to left, #00BFFF, #8A2BE2); <=== blue to purple 

background-image: linear-gradient(to left, #ff0066, #FF4500); <=== pink to red

background-image: linear-gradient(to top right, 	#00CED1, #00FF7F); <=== green to turq

background-image: linear-gradient(to bottom left,#FF69B4, #9932CC); <== pink to purple

*/