.Chart_Button {
  font-weight: bolder;
  width: 10%;
  background: #b5cd60;
  border: 0;
  width: 10%;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 10px;
  color: #606468;
}

.Chart_Form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 15px 0px;
  width: 95%;
}