.Sensor_Type {
  font-family: futura-pt-bold;
  font-size: 3vw;
  margin-top: auto;
}

.Sensor_Data {
  font-family: futura-pt-bold;
  font-size: 3vw;
  margin-top: auto;
  padding-left: 5px;
}

.Sensor_Alarm {
  color:#e7298a;
  font-family: futura-pt-bold;
  font-size: 3vw;
  margin-top: auto;
  padding-left: 5px;
}