.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo_Div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 90%;
}

.Salty_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Salty_Label {
  font-size: 55px;
}
