.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo_Div {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 22px 22px 22px;
  border-radius: 25px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

.Salty_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 87.5%/1.9em 'Open Sans', sans-serif;
}

.Salty_Label {
  font-family: futura-pt-bold;
  font-weight: 700;
  font-size: 50px;
  margin: 10px;
}
